:host {
  display: block;

  .single-container {
    display: flex;
    flex-direction: row;

    .title {
      margin-right: 8px;
      width: 50%;
    }

    .percentage-representation {
      width: 20%;
    }

    .score-representation {
      width: 20%;
    }

    .weight-representation {
      width: 10%;
    }

    .root-score {
      text-decoration: underline;
      font-weight: 800;
    }

    .single-percentage {
      margin-right: 8px;
    }
  }
}