:host {
  display: block;

  .single-container {
    display: flex;
    flex-direction: row;

    .root-score {
      text-decoration: underline;
      font-weight: 800;
    }

    .single-title {
      margin-right: 8px;
    }

    .single-percentage {
      margin-right: 8px;
    }
  }
}
