:host {
  display: block;

  .table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th {
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid;
  }

  .cell-margin {
    padding: 4px 24px 4px 24px;
  }

  .student-name {
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .center-content {
    display: flex;
    justify-content: center;
  }
}
