:host {
  display: block;

  table, th {
    border: 1px solid;
  }

  .table-header {
    border: 1px solid;
  }

  .border-top {
    border-top: 1px solid;
  }

  .border-bottom {
    border-bottom: 1px solid;
  }

  .border-left-right {
    border-left: 1px solid;
    border-right: 1px solid;
  }
}
