@if(info$ | async; as info) {
@if(info.classScoreInfo; as classScoreInfo) {

<app-navigator-bar [partsNav]="[2]" [parts]="['Classes', info.navigationName]"></app-navigator-bar>

<div class="control-panel">
    <mat-form-field class="control-panel-item">
        <mat-label>Student Name Filter</mat-label>
        <input matInput [formControl]="studentNameFilterFormControl">
    </mat-form-field>
    
    <mat-checkbox class="control-panel-item" [formControl]="enableWeightFormControl">Show Weights</mat-checkbox>

    <mat-checkbox class="control-panel-item" [formControl]="rootOnlyFormControl">Main scores only</mat-checkbox>
    
    <mat-form-field class="control-panel-item">
        <mat-label>Score Display Type</mat-label>
        <mat-select [formControl]="scoreDisplayTypeFormControl">
            @for (scoreDisplayTypeOption of scoreDisplayTypeOptions; track scoreDisplayTypeOption) {
            <mat-option [value]="scoreDisplayTypeOption">
                {{scoreDisplayTypeOption}}
            </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-checkbox class="control-panel-item" [formControl]="showButtonsFormControl">Buttons</mat-checkbox>
</div>

<table class="table styled-scrollbars">
    <tr>
        <!--Student name and total score-->
        <th class="table-header cell-margin">Student Name</th>
        <th class="table-header cell-margin">Total</th>

        <!--GradePeriods-->
        @for(gradePeriod of classScoreInfo.class.gradePeriods; track gradePeriod) {
        <th class="table-header cell-margin">
            <div>{{gradePeriod.name}}</div>
        </th>

        @for(single of gradePeriod.singleGradeConfigurations; track single) {
            <ng-container [ngTemplateOutlet]="singleLinkHeader" [ngTemplateOutletContext]="{link: single, root: true, rootOnly: info.rootOnly}">
            </ng-container>
        }

        @for(multi of gradePeriod.multiGradeConfigurations; track multi) {
            <ng-container [ngTemplateOutlet]="multiLinkHeader" [ngTemplateOutletContext]="{link: multi, root: true, rootOnly: info.rootOnly}">
            </ng-container>
        }

        }
    </tr>

    <!--Weights row-->
    <tr *ngIf="info.enableWeight">
        <!--Student name and total score-->
        <th class="table-header cell-margin">Weights:</th>
        <th></th>

        <!--GradePeriods-->
        @for(gradePeriod of classScoreInfo.class.gradePeriods; track gradePeriod) {
        <th>
        </th>

        @for(single of gradePeriod.singleGradeConfigurations; track single) {
            <ng-container [ngTemplateOutlet]="singleLinkWeightHeader" [ngTemplateOutletContext]="{link: single, root: true, rootOnly: info.rootOnly}">
            </ng-container>
        }

        @for(multi of gradePeriod.multiGradeConfigurations; track multi) {
            <ng-container [ngTemplateOutlet]="multiLinkWeightHeader" [ngTemplateOutletContext]="{link: multi, root: true, rootOnly: info.rootOnly}">
            </ng-container>
        }
        }
    </tr>

    <tr *ngIf="info.showButtons">
        <!--Student name and total score-->
        <th class="table-header cell-margin">Buttons:</th>
        <th></th>

        <!--GradePeriods-->
        @for(gradePeriod of classScoreInfo.class.gradePeriods; track gradePeriod) {
        <th>
        </th>

        @for(single of gradePeriod.singleGradeConfigurations; track single) {
            <ng-container [ngTemplateOutlet]="singleLinkButtonHeader" [ngTemplateOutletContext]="{link: single, root: true, rootOnly: info.rootOnly, classScoreInfo: classScoreInfo}">
            </ng-container>
        }

        @for(multi of gradePeriod.multiGradeConfigurations; track multi) {
            <ng-container [ngTemplateOutlet]="multiLinkButtonHeader" [ngTemplateOutletContext]="{link: multi, root: true, rootOnly: info.rootOnly, classScoreInfo: classScoreInfo}">
            </ng-container>
        }
        }
    </tr>

    @for(studentInfo of info.filteredStudentInfos; track studentInfo; let first = $first, last = $last) {
    <tr>
        <!--Student name and total score-->
        <td [class.border-top]="first" [class.border-bottom]="last" class="border-left-right">
            <div class="student-name">{{studentInfo.student.name}}</div>
        </td>

        <td [class.border-top]="first" [class.border-bottom]="last" class="border-left-right">
            <app-score-representation [percentage]="studentInfo.totalPercentage" [mode]="info.scoreDisplayType"></app-score-representation>
        </td>

        <!--GradePeriods-->
        @for (gradePeriodInfo of studentInfo.gradePeriods; track gradePeriodInfo) {
        <td [class.border-top]="first" [class.border-bottom]="last" class="border-left-right">
            <app-score-representation [percentage]="gradePeriodInfo.totalPercentage" [mode]="info.scoreDisplayType"></app-score-representation>
        </td>

        @for(single of gradePeriodInfo.studentSingleGradeInfos; track single) {
            <ng-container [ngTemplateOutlet]="singleLink" [ngTemplateOutletContext]="{link: single, root: true,rootOnly: info.rootOnly, scoreDisplayType: info.scoreDisplayType}">
            </ng-container>
        }

        @for(multi of gradePeriodInfo.studentMultiGradeInfos; track multi) {
            <ng-container [ngTemplateOutlet]="multiLink" [ngTemplateOutletContext]="{link: multi, root: true, rootOnly: info.rootOnly, scoreDisplayType: info.scoreDisplayType}">
            </ng-container>
        }
        }
    </tr>
    }
</table>
}
}

<ng-template #singleLink let-link='link' let-root='root' let-rootOnly="rootOnly" let-scoreDisplayType='scoreDisplayType'>
    <td [class.border-left-right]="root" *ngIf="root || !rootOnly">
        <app-score-representation [percentage]="link.percentage" [mode]="scoreDisplayType" [total]="link.single?.totalScore" [score]="link.score?.score"></app-score-representation>
    </td>
</ng-template>

<ng-template #multiLink let-link='link' let-root='root' let-rootOnly="rootOnly" let-scoreDisplayType='scoreDisplayType'>
    <td [class.border-left-right]="root" *ngIf="root || !rootOnly">
        <app-score-representation [percentage]="link.percentage" [mode]="scoreDisplayType"></app-score-representation>
    </td>

    @for(single of link.singleConfigurations; track single) {
        <ng-container [ngTemplateOutlet]="singleLink" [ngTemplateOutletContext]="{link: single, rootOnly: rootOnly, scoreDisplayType: scoreDisplayType}">
        </ng-container>
    }

    @for(multi of link.multiConfigurations; track multi) {
        <ng-container [ngTemplateOutlet]="multiLink" [ngTemplateOutletContext]="{link: multi, rootOnly: rootOnly, scoreDisplayType: scoreDisplayType}">
        </ng-container>
    }
</ng-template>

<ng-template #singleLinkHeader let-link='link' let-root='root' let-rootOnly="rootOnly">
    <th [class.root]="root" *ngIf="root || !rootOnly">
        <div>{{link.name}}</div>
    </th>

</ng-template>

<ng-template #multiLinkHeader let-link='link' let-root='root' let-rootOnly="rootOnly">
    <th [class.root]="root" *ngIf="root || !rootOnly">
        <div>{{link.name}}</div>
    </th>

    @for(single of link.singleGradeConfigurations; track single) {
        <ng-container [ngTemplateOutlet]="singleLinkHeader" [ngTemplateOutletContext]="{link: single, root: false, rootOnly: rootOnly}">
        </ng-container>
    }

    @for(multi of link.multiGradeConfigurations; track multi) {
        <ng-container [ngTemplateOutlet]="multiLinkHeader" [ngTemplateOutletContext]="{link: multi, root: false, rootOnly: rootOnly}">
        </ng-container>
    }
</ng-template>

<ng-template #singleLinkWeightHeader let-link='link' let-root='root' let-rootOnly="rootOnly">
    <th [class.root]="root" *ngIf="root || !rootOnly">
        <div>{{link.weight}}</div>
    </th>
</ng-template>

<ng-template #multiLinkWeightHeader let-link='link' let-root='root' let-rootOnly="rootOnly">
    <th [class.root]="root" *ngIf="root || !rootOnly">
        <div>{{link.weight}}</div>
    </th>

    @for(single of link.singleGradeConfigurations; track single) {
        <ng-container [ngTemplateOutlet]="singleLinkWeightHeader" [ngTemplateOutletContext]="{link: single, root: false, rootOnly: rootOnly}">
        </ng-container>
    }

    @for(multi of link.multiGradeConfigurations; track multi) {
        <ng-container [ngTemplateOutlet]="multiLinkWeightHeader" [ngTemplateOutletContext]="{link: multi, root: false, rootOnly: rootOnly}">
        </ng-container>
    }
</ng-template>

<ng-template #singleLinkButtonHeader let-link='link' let-classScoreInfo="classScoreInfo" let-root='root' let-rootOnly="rootOnly">
    <th [class.root]="root" *ngIf="root || !rootOnly">
        <mat-icon class="icon-button" matTooltip="Edit Student Scores" (click)="editSingle(link, classScoreInfo)">edit</mat-icon>
    </th>
</ng-template>

<ng-template #multiLinkButtonHeader let-link='link' let-classScoreInfo="classScoreInfo" let-root='root' let-rootOnly="rootOnly">
    <th [class.root]="root" *ngIf="root || !rootOnly">
        <mat-icon class="icon-button" matTooltip="Add New Single Score" (click)="addSingle(link)">add</mat-icon>
    </th>

    @for(single of link.singleGradeConfigurations; track single) {
        <ng-container [ngTemplateOutlet]="singleLinkButtonHeader" [ngTemplateOutletContext]="{link: single, root: false, rootOnly: rootOnly, classScoreInfo: classScoreInfo}">
        </ng-container>
    }

    @for(multi of link.multiGradeConfigurations; track multi) {
        <ng-container [ngTemplateOutlet]="multiLinkButtonHeader" [ngTemplateOutletContext]="{link: multi, root: false, rootOnly: rootOnly, classScoreInfo: classScoreInfo}">
        </ng-container>
    }
</ng-template>