:host {
  display: block;

  table, th {
    border: 1px solid;
  }

  .table-header {
    border: 1px solid;
  }

  .border-top {
    border-top: 1px solid;
  }

  .border-bottom {
    border-bottom: 1px solid;
  }

  .border-left-right {
    border-left: 1px solid;
    border-right: 1px solid;
  }

  .cell-margin {
    padding: 4px 24px 4px 24px;
  }

  .student-name {
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .center-content {
    display: flex;
    justify-content: center;
  }
}
