<app-theme-container>
    <h2 mat-dialog-title>{{data.title}}</h2>

    <mat-dialog-content class="mat-typography">
        <form class="dialog-form">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput [formControl]="singleGradeConfigFormGroup.controls.name">
                @if(singleGradeConfigFormGroup.controls.name.hasError('required')) {<mat-error>Required</mat-error>}
            </mat-form-field>

            <mat-form-field>
                <mat-label>Total Score</mat-label>
                <input type="number" min="1" matInput [formControl]="singleGradeConfigFormGroup.controls.totalScore">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Weight</mat-label>
                <input type="number" min="1" matInput [formControl]="singleGradeConfigFormGroup.controls.weight">
            </mat-form-field>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button (click)="cancel()">Cancel</button>
        <div class="right-buttons">
            <button mat-raised-button color="primary" (click)="acceptChanges()" [disabled]="this.singleGradeConfigFormGroup.invalid" cdkFocusInitial>{{data.isUpdate ? 'Update' : 'Create'}}</button>
        </div>
    </mat-dialog-actions>
</app-theme-container>