:host {
  display: block;

  .progress-bar-representation {
    display: flex;
    flex-direction: row;
    align-items: center;

    .progress-bar {
      width: 40px;
      height: 3px;
      background-color: #777777;
    }
    
    .progress-bar-fill {
      height: 100%; /* This is important */
    }
  
    .dot {
      height: 6px;
      width: 6px;
      margin-right: 4px;
      border-radius: 50%;
      display: inline-block;
    }
  }

}