:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .students-content {
    overflow-y: hidden;
  }

  .grades-content {
    overflow-y: hidden;
  }

  .collection-header {
    display: flex;
    flex-direction: row;
    h2 {
      margin-right: 8px;
    }
  }

  .students-header {
    margin-top: 16px;
  }
}