@if (info$ | async; as info) {
    @if(info.class) {
        <app-navigator-bar [parts]="['Classes', info.navigationName]">
            <div actions>
            </div>
        </app-navigator-bar>
    
        <div class="collection-header">
            <h2>Periods</h2>
            <button (click)="openCreatePeriodDialog(info.class)" mat-raised-button>
                <mat-icon>add</mat-icon>
                Create
            </button>
        </div>
    
        <div class="periods-content">
            <app-grid-list>
                @for (gradePeriod of info.class.gradePeriods; track gradePeriod) {
                <app-grid-tile-blob-template-ref [clickable]="false" [title]="gradePeriod.name" [clickable]="true" [showMenu]="true"
                    (clickRequest)="periodClicked(gradePeriod)">
        
                    <div menu-items>
                        <button mat-menu-item (click)="updatePeriod(gradePeriod, info.class)">
                            <mat-icon>copy_all</mat-icon>
                            <span>Update period</span>
                        </button>
                        <button mat-menu-item (click)="copyPeriod(gradePeriod, info.class)">
                            <mat-icon>copy_all</mat-icon>
                            <span>Copy period</span>
                        </button>
                        <button mat-menu-item (click)="deletePeriod(gradePeriod, info.class)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete period</span>
                        </button>
                    </div>
            
                    <div content>
                        <div>Multi Configurations: {{gradePeriod.multiGradeConfigurations.length}}</div>
                        <div>Single Configurations: {{gradePeriod.singleGradeConfigurations.length}}</div>
                    </div>
                   
                </app-grid-tile-blob-template-ref>
                }
            </app-grid-list>
        </div>
    
        <div class="collection-header students-header">
            <h2>Students</h2>
            <button (click)="createStudent(info.class)" mat-raised-button>
                <mat-icon>add</mat-icon>
                Create
            </button>
        </div>
    
        <div class="students-content">
            <app-grid-list>
                @for (student of info.class.students; track student) {
                <app-grid-tile-blob-template-ref [clickable]="false" [title]="student.name" [clickable]="true" [showMenu]="true">
        
                    <div menu-items>
                        <button mat-menu-item (click)="updateStudent(student, info.class)">
                            <mat-icon>update</mat-icon>
                            <span>Update student</span>
                        </button>
                        <button mat-menu-item (click)="deleteStudent(student, info.class)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete student</span>
                        </button>
                    </div>
            
                </app-grid-tile-blob-template-ref>
                }
            </app-grid-list>
        </div>
    }
}