:host {
    .bar-container {
        margin-bottom: 8px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        width: 100%;

        .navigation-container {
            display: flex;
            flex-direction: row;
            align-items: center;

            h2 {
                margin: 0;
            }
        }

        .content {
            margin-left: 8px;
        }
    }

    .clickable {
        cursor: pointer;

        &:hover {
            opacity: .9;
        }
    }

    h2 {
        margin-left: 4px;
        margin-right: 4px;
    }


}