@if(class$ | async; as class) {
<div class="students-content">
    <app-grid-list>
        @for (student of class.students; track student) {
        <app-grid-tile-blob-template-ref [clickable]="false" [canEdit]="true" [title]="student.name" [clickable]="true"
            [showMenu]="true">

            <div menu-items>
                <!-- <button mat-menu-item (click)="deleteStudent(student, class)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete student</span>
                    </button> -->
            </div>

            <div content class="grades">
                @for (gradePeriod of class.gradePeriods; track $index) {
                <div>
                    {{gradePeriod.name}}

                    <div>
                        @for (single of gradePeriod.singleGradeConfigurations; track $index) {
                        {{single.name}}
                        }
                    </div>
                </div>
                }
            </div>

        </app-grid-tile-blob-template-ref>
        }
    </app-grid-list>
</div>
}