@if(info$ | async; as info) {
@if(info.classScoreInfo; as classScoreInfo) {
<app-navigator-bar [partsNav]="[2]" [parts]="['Classes', info.navigationName]"></app-navigator-bar>

<div class="students-content styled-scrollbars">
    <app-grid-list>
        @for (studentInfo of classScoreInfo.studentInfos; track studentInfo) {
        <app-grid-tile-blob-template-ref [clickable]="false" [title]="studentInfo.student.name" [clickable]="true"
            (clickRequest)="studentNavigate(studentInfo)"
            [specificColor]="studentInfo.totalPercentage | percentageToColor: { colors: colors }">

            <div content>
                <div class="total-header">
                    <div class="total-title">Total:</div>
                    <app-percentage-representation
                        [percentage]="studentInfo.totalPercentage"></app-percentage-representation>
                </div>

                <div class="grade-periods">
                    @for (gradePeriodInfo of studentInfo.gradePeriods; track $index) {
                    <div class="grade-period">
                        <div class="grade-period-title">
                            <div class="grade-period-title-text">
                                {{gradePeriodInfo.gradePeriod.name}}:
                            </div>
                            <div class="grade-period-percentage" *ngIf="gradePeriodInfo.totalPercentage !== null">
                                ({{gradePeriodInfo.totalPercentage | percentage}})
                            </div>
                        </div>

                        <div class="top-level-grades">
                            <table>
                                @for (singleInfo of gradePeriodInfo.studentSingleGradeInfos; track $index) {
                                <tr>
                                    <th>
                                        <div class="grade-name">{{singleInfo.single.name}}:</div>
                                    </th>
                                    <th>{{singleInfo.percentage | percentage}}</th>
                                </tr>
                                }

                                @for (multiInfo of gradePeriodInfo.studentMultiGradeInfos; track $index) {
                                <tr>
                                    <th>
                                        <div class="grade-name">{{multiInfo.multi.name}}:</div>
                                    </th>
                                    <th>{{multiInfo.percentage | percentage}}</th>
                                </tr>
                                }
                            </table>
                        </div>
                    </div>
                    }
                </div>
            </div>

        </app-grid-tile-blob-template-ref>
        }
    </app-grid-list>
</div>
}
}