@if(class$ | async; as class) {
<div class="students-content">
    <app-grid-list>
        @for (student of class.students; track student) {
        <app-grid-tile-blob-template-ref [clickable]="false" [canEdit]="true" [title]="student.name" [clickable]="true"
            [showMenu]="true">

            <div menu-items>
                <!-- <button mat-menu-item (click)="deleteStudent(student, class)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete student</span>
                    </button> -->
            </div>

            <div content class="grade-periods">
                @for (gradePeriod of class.gradePeriods; track $index) {
                <div class="grade-period">
                    <div class="grade-period-title">
                        {{gradePeriod.name}}
                    </div>

                    <div class="top-level-grades">
                        @for (single of gradePeriod.singleGradeConfigurations; track $index) {
                            <div>
                                {{single.name}} - {{single.totalScore}}
                            </div>
                        }

                        @for (multi of gradePeriod.multiGradeConfigurations; track $index) {
                            <div>
                                {{multi.name}}
                            </div>
                        }
                    </div>
                </div>
                }
            </div>

        </app-grid-tile-blob-template-ref>
        }
    </app-grid-list>
</div>
}