:host {
  display: block;

  .students-content {
    .total-header {
      display: flex;
      flex-direction: row;
      .total-title {
        margin-right: 8px;
        text-decoration: underline;
      }
    }

    .grade-periods {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .grade-period {
        .grade-period-title {
          display: flex;
          flex-direction: row;
          .grade-period-title-text {
            text-decoration: underline;
          }
        }

        .top-level-grades {
          display: flex;
          flex-direction: column;

          .grade-name {
            margin-right: 8px;
          }

          table, th, td {
            border: 1px solid transparent;
            border-collapse: collapse;
            text-align: left;
          }
        }
      }
    }
  }
}
