<div class="multi-container">
    <div class="multi-score-title-container">
        <div class="title" [style.margin-left]="depth | marginLeft" [class.root-score]="depth === 0">{{multiInfo.multi.name}}:</div>
        <app-percentage-representation class="percentage-representation" [percentage]="multiInfo.percentage"></app-percentage-representation>
        <div class="score-representation"></div>
        <div class="weight-representation">{{multiInfo.multi.weight}}</div>
    </div>

    @for (single of multiInfo.singleConfigurations; track $index) {
        <app-single-score [singleInfo]="single" [depth]="depth + 1"></app-single-score>
    }
    
    @for (subMultiInfo of multiInfo.multiConfigurations; track $index) {
        <app-multi-score [multiInfo]="subMultiInfo" [depth]="depth + 1"></app-multi-score>
    }
</div>
