<ng-template #rootTemplate>
    <app-grid-tile-blob [title]="title" [clickable]="clickable" [canEdit]="canEdit" (editRequest)="editRequest.emit()" (clickRequest)="clickRequest.emit()"
        [extraText]="extraText" [info]="info" [infoIcon]="infoIcon" [showMenu]="showMenu" [colorClass]="colorClass" [specificColor]="specificColor">

        <div class="actual-content" content>
            <ng-content select="[content]"></ng-content>
        </div>

        <div bottom-content>
            <ng-content select="[bottom-content]"></ng-content>
        </div>

        <div menu-items>
            <ng-content select="[menu-items]"></ng-content>
        </div>
    </app-grid-tile-blob>
</ng-template>