<ng-template #rootTemplate>
    <app-grid-tile-blob [title]="title" [clickable]="clickable" [canEdit]="canEdit" (editRequest)="editRequest.emit()" (clickRequest)="clickRequest.emit()"
        [extraText]="extraText" [info]="info" [infoIcon]="infoIcon" [showMenu]="showMenu" [colorClass]="colorClass">
        <ng-content></ng-content>

        <div content>
            <ng-content select="[content]"></ng-content>
        </div>

        <div menu-items>
            <ng-content select="[menu-items]"></ng-content>
        </div>
    </app-grid-tile-blob>
</ng-template>