<app-theme-container>
  <h2 mat-dialog-title>Calculate score ranges</h2>

  <mat-dialog-content class="mat-typography">
    <mat-form-field>
      <mat-label>Total Score</mat-label>
      <input type="number" min="0" matInput [formControl]="controls.controls.totalScore" />
    </mat-form-field>

    <mat-checkbox [formControl]="controls.controls.simpleMode"> Simple Mode </mat-checkbox>

    <table>
      <tr>
        <th>From(%)</th>
        <th>To (%)</th>

        <th></th>

        <th>From</th>
        <th></th>
        <th>To</th>

        <th></th>

        <th>Score</th>
      </tr>
      <tr *ngFor="let scoreDescriptor of scoreDescriptors$ | async; track: scoreDescriptors">
        <td>{{ scoreDescriptor.minPercentage | percentage }}</td>
        <td>{{ scoreDescriptor.maxPercentage | percentage }}</td>
        <td></td>
        <td>{{ scoreDescriptor.minScore | number : '.2-2' }}</td>
        <td>> - <=</td>
        <td>{{ scoreDescriptor.maxScore | number : '.2-2' }}</td>
        <td></td>
        <td>{{ scoreDescriptor.scoreRepresentation }}</td>
      </tr>
    </table>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button (click)="cancel()">Cancel</button>
  </mat-dialog-actions>
</app-theme-container>
