@use "sass:map" as map;

@mixin theme($theme-internal) {
    app-score-scale-dialog {

        td,
        th {
            border: 1px solid map.get($theme-internal, 3);
        }

        tr:nth-child(even) {
            background-color: map.get($theme-internal, 5);
        }
    }
}