:host {
    height: 100%;

    .grid-container {
        display: flex;
        height: 100%;
        overflow: hidden;
        flex-direction: column;

        mat-toolbar {
            flex-shrink: 0;
        }

        .title {
            cursor: pointer;
        }

        .example-spacer {
            flex: 1 1 auto;
        }

        .disconnected {
            color: red;
        }

        .connected {
            color: green;
        }

        .router-out {
            display: flex;
            flex-direction: column;
            margin: 0 auto 0 auto;
            width: 98%;
            height: 100%;
            overflow: hidden;

            .router-out-content {
                margin-top: 20px;
                height: calc(100% - 20px);
            }
        }

        .center-info {
            position: fixed;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}