@if(themeSelectorService.selectedTheme$ | async; as selectedTheme) {
<div class="grid-container" [class]="selectedTheme.class">

  <mat-toolbar color="primary">
    <span class="title" (click)="routeToHome()">Grade Calculator</span>
    <app-theme-selector matTooltip="Theme"></app-theme-selector>

    <span class="example-spacer"></span>

    @if(gradeEventClient.connectedState$ | async;)
    {
    <mat-icon class="connected" fontIcon="bolt"></mat-icon>
    <div>Connected</div>
    }
    @else {
    <mat-icon class="disconnected" fontIcon="bolt"></mat-icon>
    <div>Disconnected</div>
    }

  </mat-toolbar>

  @if (gradeEventClient.connectedState$ | async) {
  <div class="router-out">
    <div class="router-out-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  } @else {
  <div class="center-info">
    Client is disconnected
  </div>
  }

</div>
}