@if(classStudentInfo$ | async; as info) {
<app-navigator-bar [partsNav]="[1, 2]"
    [parts]="['Classes', info.classInfo?.class?.name ?? 'Class Unknown', info.studentInfo?.student?.name ?? 'Student Unknown']"></app-navigator-bar>

@if(info.studentInfo; as student) {
<div class="year-total">
    <div>Year total:</div>
    <app-percentage-representation [percentage]="student.totalPercentage"></app-percentage-representation>
</div>

<div class="periods-container">
    @for (studentGradePeriodInfo of student.gradePeriods; track $index) {
    <div class="period-container">
        <div class="period-title-container">
            <h2 class="period-title">
                Period: {{studentGradePeriodInfo.gradePeriod.name}}:
            </h2>

            <app-percentage-representation [percentage]="studentGradePeriodInfo.totalPercentage"></app-percentage-representation>
        </div>

        @for (singleInfo of studentGradePeriodInfo.studentSingleGradeInfos; track $index) {
            <div>
                <app-single-score [depth]="0" [rootScore]="true" [singleInfo]="singleInfo"></app-single-score>
            </div>
        }

        @for (multiInfo of studentGradePeriodInfo.studentMultiGradeInfos; track $index) {
            <div>
                <app-multi-score [depth]="0" [rootScore]="true" [multiInfo]="multiInfo"></app-multi-score>
            </div>
        }
    </div>
    }
</div>

}
}