:host {
  display: block;

  .year-total {
    display: flex;
    flex-direction: row;

    .year-total-title {
      margin-right: 8px;
    }
  }

  .periods-container {
    display: flex;
    flex-direction: row;

    .period-container {
      width: 400px;
      display: flex;
      flex-shrink: 0;
      flex-direction: column;
      margin: 32px;

      .period-title-container {
        display: flex;
        flex-direction: row;

        .period-title {
          margin-right: 8px;
          text-decoration: underline;
        }
      }
    }

  }
}