:host {
  display: block;

  .year-total {
    display: flex;
    flex-direction: row;

    .year-total-title {
      margin-right: 8px;
    }
  }

  .periods-container {
    display: flex;
    flex-direction: row;

    .period-container {
      width: 500px;
      display: flex;
      flex-shrink: 0;
      flex-direction: column;
      margin: 32px;

      .headers {
        display: flex;
        flex-direction: row;
        
        .title {
          width: 40%;
          font-weight: bold;
        }

        .percentage-representation {
          width: 18%;
          font-weight: bold;
        }

        .score-representation {
          width: 18%;
          font-weight: bold;
        }

        .weight-representation {
          width: 12%;
          font-weight: bold;
        }

        .score-category-representation {
          width: 12%;
          font-weight: bold;
        }
      }

      .period-title-container {
        display: flex;
        flex-direction: row;

        .period-title {
          margin-right: 8px;
          text-decoration: underline;
        }
      }
    }

  }
}