:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .actions {
    margin-left: auto;

    .auto-startup {
      margin-right: 16px;
    }

    .action {
      margin-left: 4px;
    }
  }

  .nav-bar-actions {
    button {
      margin-right: 4px;
    }
  }

  .hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
  }

  .navigation-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
      margin: 0;
    }
  }

  .clickable {
    cursor: pointer;

    &:hover {
      opacity: .9;
    }
  }
}