:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  
  .actions {
    margin-left: auto;

    .auto-startup {
      margin-right: 16px;
    }

    .action {
      margin-left: 4px;
    }
  }

  .nav-bar-actions {
    button {
      margin-right: 4px;
    }
  }
}