:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .actions {
    margin-left: auto;

    .auto-startup {
      margin-right: 16px;
    }

    .action {
      margin-left: 4px;
    }
  }

  .nav-bar-actions {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      margin-right: 4px;
    }
  }

  .hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
  }

  .navigation-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
      height: 36px;
      margin: 0;
    }
  }

  .clickable {
    cursor: pointer;

    &:hover {
      opacity: .9;
    }
  }

  .center-info {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .center-info-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      .create-initial-class {
        margin-left: 8px;
      }
    }
  }
}